OPENAI_API_KEY=your-openai-api-key
TRANSCRIPTS_DIR=/Users/mehulmitkari/Documents/AI PROJECTS/Lenny's Podcast Transcripts Archive [public]
VECTORSTORE_DIR=/Users/mehulmitkari/Documents/AI PROJECTS/lennypm_rag/vectorstore
EMBEDDING_PROVIDER=sentence_transformer
EMBEDDING_MODEL=all-MiniLM-L6-v2
# Optional
PINECONE_API_KEY=your-pinecone-api-key
PINECONE_ENV=us-east-1
PINECONE_INDEX=lennypm
COHERE_API_KEY=your-cohere-api-key
