langchain>=0.0.433
langchain-openai>=0.0.1
langchain-huggingface>=0.0.1
langchain-chroma>=0.0.1
streamlit>=1.24.0
chromadb>=0.4.0
python-dotenv>=1.0.0
tiktoken>=0.6.0
pinecone>=2.0.0
cohere>=5.5.0
sentence-transformers>=2.3.0
